[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2 = "*"
psycopg2-binary = "*"
gunicorn = "*"
beautifulsoup4 = "*"
datetime = "*"
flask-sqlalchemy = "*"
requests = "*"
lxml = "*"
selenium = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.9"
