body {
  font-family: 'lato', sans-serif;
  color: #2D2D2A;
  background-color: #FBFFF1;
}

a {
  color: #2D2D2A;
}

ul{
  width:75vw;
  margin: 3rem auto;
  padding: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 5rem auto;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.2rem;
  word-spacing: 0.5rem;
  margin-top: 7rem;
}

li {
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.header_center {
  background-color: #A1C084;
  margin: 0 auto;
  padding: 1.5rem 5rem;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
}

.table-header {
  background-color: #C1D7AE;
  letter-spacing: 0.03em;
}

.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  background-color: #FBFFF1;
}

.col-1 {
  flex-basis: 12%;
  padding: 0 0 0 1.5rem;
  line-height: 1.5rem;
}
.col-2 {
  flex-basis: 76%;
  padding: 0 1.5rem;
  line-height: 1.5;
}
.col-3 {
  flex-basis: 12%;
  padding: 0 0 0 1.5rem;
  line-height: 1.5rem;
}