<!DOCTYPE html>
<html>
<head>
  <title>scraper</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <h1>Environmental News Scraper</h1>
  {% for dates, items in news_now.items()|reverse %}
    <table>
      <tr class="header">
        <th class="dates">{{dates}} <span>-</span></th>
      </tr>
      <tr>
        <td><strong>Source</strong></td>
        <td><strong>Headline</strong></td>
        <td><strong>Link</strong></td>
      </tr>      
      {% for item in items|reverse %}
        <tr>
          <td>{{item.source}}</td>
          <td>{{item.headline}}</td>
          <td><a href={{item.link}} target="_blank">Link to article</a></td>
        </tr>        
      {% endfor %}
    </table>
  {% endfor %}
</table>
<script type="text/javascript" src="{{ url_for('static', filename='myscripts.js') }}"></script>
</body>
</html>

